<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Fpc
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="forix_csp" translate="label" type="text" sortOrder="62116" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Magento_Backend::all</resource>
            <class>separator-top</class>
            <label>Forix CSP Report</label>
            <tab>forix</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Report</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="report_uri" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Report URI</label>
                    <comment>Default: CatchCsp.php</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="report_uri_admin" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Report URI for Admin</label>
                    <comment>Default: BeCatchCsp.php</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="reported_list" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Reported Data</label>
                <field id="list" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Forix\Csp\Block\Adminhtml\Collector</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
